<html>
<div class="container">
  
</div>
<div class="resume1">
    <header class="page-header">
    <h1 class="page-title">Work History</h1>
  </header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="/assets/csra.jpg">
              </figure>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">CSRA</li>
                <li class="list-group-item">Programmer</li>
                <li class="list-group-item">Oct 2016 - Currently Employed </li>
                <li class="list-group-item"><i class="fa fa-phone"></i> (703) 641-2000 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
         
Collaborative consultation projects using scrum framework with focus on modern technology and extensive security. Individual full stack developer responsibilities.
CSRA encourages teamwork, product owner satisfaction, and a self-managing approach that allows us to solve problems by our own means. 
        </p>
        
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Work Responsibilities</h4>
        <p>
         Following the full-stack developer goal I work on each part of the development process. Backend work includes MySQL, MongoDB and the logic connecting these to our API's. Middle portion is Java, with a focus on modern best practices including test-driven development and CI. This also includes use of micro-services and following the MVC model. Front-end work is heavy Angular 2 focused, with the HTML and CSS included within that. This Angular 2 work includes various framework interactions including: PrimeNG, NGDnD, Bootstrap, along with many other functional and logical imports. 
        </p>
      </div>

     

</div>
<div class="resume2">
   <div class="row">

  <div class="col-lg-12 col-lg-12 col-md-offset-1 col-md-12 col-lg-offset-0 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="/assets/fenway.jpg">
              </figure>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">Fenway Group - SouthWest Airlines</li>
                <li class="list-group-item">Devops Engineer</li>
                <li class="list-group-item">Jan 2015 - Oct 2016 </li>
                <li class="list-group-item"><i class="fa fa-phone"></i> (504) 756-9311 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
Agile environment focused on teamwork, quick research, and constant improvement. Emphasis on technical and communication skills, requiring constant real time updating between teams and new skills to be learned extremely quickly
        </p>
        
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Work Responsibilities</h4>
        <p>
          Worked extensively with the SWA Devops legacy program, becoming the Ruston POC for legacy code changes and deploys. This required many long, late nights working with very large teams all over the globe to place code into production while affecting the least amount of customers. Personally responsible for over 700 successful SWA code changes. Automation and efficiency focused environment, with scripting responsibilities and task automation as often as possible. Led and extremely succesful set of major code releases. 
        </p>
      </div>




</div>
<div class="resume3">
   
  <div class="col-lg-12 col-lg-12 col-md-offset-1 col-md-12 col-lg-offset-0 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="/assets/wyly.jpg">
              </figure>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">La Tech University</li>
                <li class="list-group-item">Tech Helpdesk Supervisor  </li>
                <li class="list-group-item">Sept 2013 - Jan 2015 </li>
                <li class="list-group-item"><i class="fa fa-phone"></i> (318) 257-2000 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
Promoted to manage teams of IT professionals focused on support. Showed constant improvement in customer satisfaction and quantifiable improvements in amount of issues solved.
        </p>
        
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Work Responsibilities</h4>
        <p>
          Managed teams of new hires responsible for training, confidence building, skill learning and success metrics. Other tasks included delegating work, and website maintenance for LA Tech University. Along with these new responsibilities, I still was responsible for setting the example for amount of work done for students and faculty. 
        </p>
      </div>


    </div>
  
  </div>




<div class="resume3">
   
  <div class="col-lg-12 col-lg-12 col-md-offset-1 col-md-12 col-lg-offset-0 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="/assets/tech.jpg">
              </figure>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">La Tech University</li>
                <li class="list-group-item">HelpDesk IT Consultant  </li>
                <li class="list-group-item">Sept 2011 - Sept 2013 </li>
                <li class="list-group-item"><i class="fa fa-phone"></i> (318) 257-2000 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
Helpdesk support for students and faculty. Self-starting environment focused on professionalism and technical competency.
        </p>
        
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Work Responsibilities</h4>
        <p>
	Worked with faculty and staff implementing network infrastructure.
Resolved numerous problems from a wide range of causes.
Achieved extended record of success and high level of customer satisfaction.
Responsible for windows OS and servers, Linux OS and servers, Mac OS, mobile applications.
Used anti-virus tools, solved network security issues, and documented IT solutions for dedicated knowledge base.
        </p>
      </div>


    </div>
  
  </div>




</div>
